.row.choice-row
  .col-12.decor-top
  .col-1
  .choice_text.col-4.align-self-center
    h2.white_h2
      |Выбирайте готовое решение, создавайте сами или обратитесь к dbco
    p.white_p
      |В разделе «решения dbco» вам доступны уже готовые проекты из самых разных направлений
      |бизнеса. Конструктор dbco поможет создать с нуля или доработать выбранное решение для
      |максимального соответствия именно вашим требованиям.
      |
      |Вы можете сделать всё самостоятельно, используя бесплатные справочные материалы, получить
      |необходимую помощь или заказать уникальную разработку целиком в dbco.
  .col-2
  .choice_design.col-5
    img(src=require('./img/building.png'), alt="").choice_design__img