.row.choice-row
  .col-12.decor-top
  .col-1
  .choice_text.col.col-sm-8.col-md-6.col-lg-6.align-self-center
    h3.white_head.mb-4
      |Выбирайте готовое решение, создавайте сами или обратитесь к dbco
    p.white_p.pe-5.d-block
      |В разделе «решения dbco» вам доступны уже готовые проекты из самых разных направлений
      |бизнеса. Конструктор dbco поможет создать с нуля или доработать выбранное решение для
      |максимального соответствия именно вашим требованиям.
      |
      |Вы можете сделать всё самостоятельно, используя бесплатные справочные материалы, получить
      |необходимую помощь или заказать уникальную разработку целиком в dbco.
  //- .col-2
  .choice_design.col-5.d-none.d-lg-block
    img(src=require('./img/building.png'), alt="").choice_design__img