block variables

doctype html
html(lang=ru)
  head
    title= pageTitle
    meta(name="description", content=description)
  body(class= pageClass)
    #app
      header
        block header
      #content.container-fluid
        .content-wrapper.row.d-flex.justify-content-center.align-content-between
          block content
          block aside
      footer
        block footer