block variables

doctype html
html(lang='ru')
  head
    title= pageTitle
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width")
  body(class= pageClass)
    #app
      header
        block header
      main#content.container-fluid
        .content-wrapper.row.d-flex.justify-content-center.align-content-between
          block content
            block varContent
          block aside
      footer
        block footer