-
  var newsSlides = {
    cardBook: {
    id: 'cardBook',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свой большой которое, своего коварных диких деревни курсивных необходимыми взобравшись.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardTool: {
    id: 'cardTool',
    icon: '#book-icon',
    title: 'Прокат техники',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свой большой которое, своего коварных диких.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardTarget: {
    id: 'cardTarget',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свой большой которое, своего коварных диких деревни курсивных необходимыми взобравшись щеке рыбными рекламных живет предложения родного страну ручеек реторический последний. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Города диких взобравшись запятых на берегу за первую оксмокс текстами по всей текстов он рукописи, семь раз семантика пустился выйти правилами вдали? Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Необходимыми, агентство даль? Букв маленький которое агентство необходимыми рыбными домах страна образ повстречался, запятых, ты путь мир о встретил лучше. Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Встретил жаренные точках языком? Но, за? Пустился предупредила, щеке вдали, не собрал залетают знаках, использовало великий себя над ему напоивший.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSomething: {
    id: 'cardSomething',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Парадигматическая подпоясал скатился деревни за дороге безопасную великий снова. Всемогущая свой предупреждал это взгляд пустился вопроса толку подзаголовок букв имени!',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSomewhere: {
    id: 'cardSomewhere',
    icon: '#book-icon',
    title: 'Прокат техники',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Которой, путь меня. Она пустился власти пунктуация там несколько переписали вершину, грамматики дорогу города буквенных имени моей злых семантика раз!',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSomeone: {
    id: 'cardSomeone',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вершину имени буквоград, сих толку семь свою жаренные что дал залетают наш повстречался но предупредила одна оксмокс гор напоивший о!',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardOnething: {
    id: 'cardOnething',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Не, своего. Составитель назад своего знаках напоивший! Пунктуация даль буквенных текста, рыбного моей все она единственное оксмокс ты вскоре злых.',
    author: 'Антон',
    date: '2020-05-12'
  },
  }
-
  var popSlides = {
    popCard: {
    id: 'popCard',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Дороге оксмокс текста океана, злых страна ты он ему пояс рот все. Назад маленькая, рот залетают взгляд по всей города океана.',
    author: 'Антон',
    date: '2020-05-12'
  },
  popTech: {
    id: 'popTech',
    icon: '#book-icon',
    title: 'Прокат техники',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Путь, щеке заманивший вершину деревни.',
    author: 'Антон',
    date: '2020-05-12'
  },
  popWtf: {
    id: 'popWtf',
    icon: '#book-icon',
    title: 'Война племён. Русский сервер. Казуальный мир 4',
    description: 'Далеко-далеко за словесными горами в стране гласных.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSome: {
    id: 'cardSome',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.',
    author: 'Антон',
    date: '2020-05-12'
  },
  }

block content

  article.what-is-screen.container-fluid
    include ./page-blocks/content/what-is/what-is
  article.features-screen.container-fluid
    include ./page-blocks/content/features/features
  article.choice.p-0
    .container-fluid.d-flex.align-content-center
      include ./page-blocks/content/choice/choice
    .container.divider
    .constructor.container-fluid
      include ./page-blocks/content/what-is-constructor/what-is-constructor
    .customers.container-fluid
      include ./page-blocks/content/customers/customers
    .bottom-white-bg
  article.solutions.px-0.mb-5
    .container-fluid.px-0.mb-5
      h2.blue_head.mx-5.px-3 Новинки:
      .container-fluid.slider-wrapper.px-0
        div.swiper-container.p-5
          button.swiper-button-prev.border.rounded
          div.swiper-wrapper
            each slide in newsSlides
              div.swiper-slide
                +card_left-img(slide.icon, slide.title, slide.description, slide.author, slide.date, slide.id)
          button.swiper-button-next.border.rounded
      //- include ../includes/sliders/sidearrow/slider
      //- +swiper('news-slider px-5 py-3', '', newsSlides, '')
    .container-fluid.px-0.mb-5
      h2.blue_head.mx-5.px-3 Популярное:
      .container-fluid.slider-wrapper.px-0
        div.swiper-container.p-3
          button.swiper-button-prev.border.rounded
          div.swiper-wrapper
            each slide in popSlides
              div.swiper-slide
                +card_left-img(slide.icon, slide.title, slide.description, slide.author, slide.date, slide.id)
          button.swiper-button-next.border.rounded
    include ./page-blocks/content/solutions/_new/_new
    include ./page-blocks/content/solutions/_popular/_popular
  article.feedback.container-fluid.px-0
    h2.blue_head.mx-5.px-3 Отзывы:
    .container-fluid.slider-wrapper.px-0
        div.swiper-container.p-3
          button.swiper-button-prev
          div.swiper-wrapper
          button.swiper-button-next
  //- article
  //-   .row
  //-     #something.col
  //-     #example.col