-
  var newsSlides = {
    cardBook: {
    id: 'cardBook',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Свой большой которое, своего коварных диких деревни курсивных необходимыми взобравшись.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardTool: {
    id: 'cardTool',
    icon: '#book-icon',
    title: 'Прокат техники',
    description: 'Свой большой которое, своего коварных диких злых страна ты он ему пояс рот все. Назад маленькая, рот залетают взгляд по всей города океана.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardTarget: {
    id: 'cardTarget',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Свой большой которое. Не, своего. Составитель назад своего знаках напоивший!',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSomething: {
    id: 'cardSomething',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Парадигматическая подпоясал скатился деревни за дороге безопасную великий снова.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSomewhere: {
    id: 'cardSomewhere',
    icon: '#book-icon',
    title: 'Прокат техники',
    description: 'Которой, путь меня. Она пустился власти пунктуация там несколько переписали вершину, грамматики дорогу города буквенных имени моей злых семантика раз!',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSomeone: {
    id: 'cardSomeone',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Вершину имени буквоград, сих толку семь свою жаренные что дал залетают наш повстречался но предупредила одна оксмокс гор напоивший о!',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardOnething: {
    id: 'cardOnething',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Не, своего. Составитель назад своего знаках напоивший! Пунктуация даль буквенных текста, рыбного моей все она единственное оксмокс ты вскоре злых.',
    author: 'Антон',
    date: '2020-05-12'
  },
  }
-
  var popSlides = {
    popCard: {
    id: 'popCard',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Дороге оксмокс текста океана, злых страна ты он ему пояс рот все. Назад маленькая, рот залетают взгляд по всей города океана.',
    author: 'Антон',
    date: '2020-05-12'
  },
  popTech: {
    id: 'popTech',
    icon: '#book-icon',
    title: 'Прокат техники',
    description: 'Путь, щеке заманивший вершину деревни. Всемогущая свой предупреждал это взгляд пустился вопроса толку подзаголовок букв имени!',
    author: 'Антон',
    date: '2020-05-12'
  },
  popWtf: {
    id: 'popWtf',
    icon: '#book-icon',
    title: 'Война племён. Русский сервер. Казуальный мир 4',
    description: 'Всемогущая свой предупреждал злых страна ты он ему пояс рот все. Назад маленькая, рот залетают взгляд по всей города океана.',
    author: 'Антон',
    date: '2020-05-12'
  },
  cardSome: {
    id: 'cardSome',
    icon: '#book-icon',
    title: 'Учёт занятий',
    description: 'Всемогущая свой предупреждал это взгляд пустился вопроса толку подзаголовок букв имени!',
    author: 'Антон',
    date: '2020-05-12'
  },
  }

block content

  article.what-is-screen.container-fluid
    include ./page-blocks/content/what-is/what-is
  article.features-screen.container-fluid
    include ./page-blocks/content/features/features
  article.choice.p-0
    .container-fluid.d-flex.align-content-center
      include ./page-blocks/content/choice/choice
    .container.divider
    .constructor.container-fluid
      include ./page-blocks/content/what-is-constructor/what-is-constructor
    .container.divider
    .customers.p-0.px-md-2.container-fluid
      include ./page-blocks/content/customers/customers
    .bottom-white-bg
  article.solutions.px-0.mb-5
    .container-fluid.px-0.mb-5
      h2.blue_head.mx-sm-5.px-3 Новинки:
      .container-fluid.slider-wrapper.px-0
        div.swiper-container.p-sm-3
          button.swiper-button-prev.border.rounded
          div.swiper-wrapper
            each slide in newsSlides
              div.swiper-slide.px-sm-5
                +card_left-img(slide.icon, slide.title, slide.description, slide.author, slide.date, slide.id)
          button.swiper-button-next.border.rounded
      //- include ../includes/sliders/sidearrow/slider
      //- +swiper('news-slider px-5 py-3', '', newsSlides, '')
    .container-fluid.px-0.mb-5
      h2.blue_head.mx-sm-5.px-3 Популярное:
      .container-fluid.slider-wrapper.px-0
        div.swiper-container.p-sm-3
          button.swiper-button-prev.border.rounded
          div.swiper-wrapper
            each slide in popSlides
              div.swiper-slide.px-sm-5
                +card_left-img(slide.icon, slide.title, slide.description, slide.author, slide.date, slide.id)
          button.swiper-button-next.border.rounded
    .container-fluid.px-0.mb-5
      a(href="/").a-button.mx-sm-5.px-3 Остальные решения
  article.feedback.container-fluid.px-0
    h2.blue_head.mb-5.mx-sm-5.px-3 Отзывы:
    .container-fluid.slider-wrapper.px-0
      div.rewiev-slider.py-3
        button.rewiev-button-prev.swiper-button-prev
        div.rewiev-wrapper
          .rewiev-slide
            +card_top-img('p-3')
          .rewiev-slide
            +card_top-img('p-3')
          .rewiev-slide
            +card_top-img('p-3')
          .rewiev-slide
            +card_top-img('p-3')
          .rewiev-slide
            +card_top-img('p-3')
  //- article
  //-   .row
  //-     #something.col
  //-     #example.col