block content
  include ../utils/svg-icons
  include ./page-blocks/content/content
  example-component.col-4
  aside-component.col-4
  .col-4
    h1 Pug - node template engine
  #container.container.col-12
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.