- var bigLogo = require('./big-logo.svg')
- var decorating = require('./decorating.svg')

.what-is-row.row.align-content-center
  .container_what-is-logo.col-6.d-none.d-md-block
    img(src=bigLogo, alt="what-is-logo").what-is-logo
    //- img(src=decorating, alt="what-is-decor").what-is-decor
  .col.col-xl-5.container_what-is_text
    h1 Что такое dbco?
    p.what-is_text.mb-3 dbco включает в себя платформу и прикладные решения, разработанные на её основе, для хранения знаний и учетных данных. Платформа не является программным продуктом для конечного пользователя, который обычно работает с одним или несколькими прикладными решениями. Такой подход позволяет автоматизировать различные виды деятельности, используя единую технологическую базу.
    a(href="/").a-button.what-is_button Попробовать прямо сейчас
  .col-xl-1