$headerLogo: url(../pages/templates/page-blocks/header/logo.png)
$decorating: url(../pages/templates/page-blocks/content/what-is/decorating.svg)
$body-color: lightcyan
$primary-font: 'YouTube Sans Dark'
$secondary-font: 'Amarante'

$main-bg: #fafafa
$primary: #078FD3
$secondary: darkslategray
$white-text: #fff

$description-text: #a2a2a2
$hover: #0d6efd
$invert-hover: #c2c2c2