block footer
  .footer.container-fluid.py-3
    .row.justify-content-center.align-items-center.flex-column
      nav.col-5.nav.m-auto
        include ../../../includes/nav-bars/nav-bar
        hr
      .col-5.m-auto
        p.footer-text 2002-2019 DBCO. Все права защищены