svg.icon
  use(xlink:href="#search-icon")
svg.icon
  use(xlink:href='#book-icon')
svg.icon
  use(xlink:href='#goal-icon')
svg.icon
  use(xlink:href='#tools-icon')
svg.icon
  use(xlink:href='#star-icon')
