.row.align-content-center.wrapper
  .col-1
  .customers_text.col
    h2.white_head Клиенты dbco
    ul.customers_text__ul
      li API Bank, RuTerra
      li Центр независимых технологий
      li АП "Позитив", ЮА "Парфёнов и партнёры"
      li ИД "Игромедиа", ЗАО "Конверсия жильё", Клуб "Автоподиум"