- var slider = ["first", "second", "third", "fourth", "fifth", "sixth"]
- var cardDescription = 'Автоматизация учета в частной школе. Контроль посещаемости, оплат, связь с родителями'

block content

  .swiper-container.px-5
    .swiper-button-prev.border.rounded
    .swiper-button-next.border.rounded
    .swiper-wrapper
      .swiper-slide.px-5
        +card_left-img('#book-icon', title, slide, 'Антон', '2020-02-05')
