@import '../../../../styles/_vars'
.slider-wrapper
  background-color: $slider-bg
  // overflow: hidden

.swiper-container
  // display: flex
  .swiper-wrapper
    gap: .6rem
    .swiper-slide
      height: auto
      transition: all .5s
      @include media-breakpoint-up(lg)
        border-right: 3px solid $primary
    .swiper-slide-prev
      opacity: 0
      transition: all .5s
  .swiper-button-prev, .swiper-button-next
    display: none
    @include media-breakpoint-up(sm)
      display: block
      background-color: $slider-bg
      top: 1.25rem
      width: 40px
      height: 100%
      transition: all .25s
      border: none
    &::after
      font-size: 1.5rem
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 100%
    &:hover
      font-weight: bolder
      background-color: $primary
      color: $white-text
      transition: all .5s
  .swiper-button-prev
    left: 0
  .swiper-button-next
    right: 0
    // background-color: $slider-next-button-bg

.rewiev-slider
  position: relative
  overflow: hidden
  list-style: none
  padding: 0
  z-index: 1
  right: 0
  left: 0
  @include media-breakpoint-up(sm)
    top: -6rem
    max-width: 70vw
    margin-left: auto
    margin-right: auto
    left: 20vw
  .rewiev-wrapper
    position: relative
    width: 100%
    height: 100%
    z-index: 1
    display: flex
    transition-property: transform
    box-sizing: content-box
    gap: .8rem
    .rewiev-slide
      border-right: 0
      flex-shrink: 0
      width: 100%
      height: 100%
      position: relative
      transition-property: transform
    .swiper-slide-prev
      opacity: 0
      transition: all .3s
  .rewiev-button-prev, .rewiev-button-next
    position: absolute
    background-color: inherit
    top: 60%
    z-index: 2
    width: 45px
    height: 45px
    transition: all .25s
    border: 1px solid $primary
    border-radius: 50%
    opacity: .5
    &::after
      font-size: 1.25rem
    &::before
      content: ''
      color: $white-text
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: 100%
    &:hover
      font-weight: bolder
      background-color: $primary
      color: $white-text
      opacity: 1
      transition: all .5s
  .rewiev-button-prev
    // left: 0
