ul.menu.d-flex.justify-content-evenly
  li.menu-item.menu-item_active
    a(href="#!").menu-link  Главная
  li.menu-item
    a(href="#!").menu-link  Решения dbco
  li.menu-item
    a(href="#!").menu-link  Ресурсы
  li.menu-item
    a(href="#!").menu-link  Мой кабинет
