.container-fluid
  .row.flex-column
    .col 
      h1 Content work
    .col 
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quisquam hic deleniti quo, iste repellendus quidem dicta tenetur fugiat, architecto consequatur modi? Laborum fugit libero animi debitis aliquid cumque maiores. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переулка продолжил алфавит залетают которое семь взгляд вершину, первую необходимыми над текст сих жизни рукописи но, свое образ коварный на берегу.