@import '../../../../styles/_vars'
@import '../../../includes/nav-bars/nav-bar'

.app-header
  box-shadow: .1rem .75rem 25rem .1rem #e7e7e7

.logo
  min-height: 6.25rem

.search
  display: flex
  .search-input
    max-width: 320px
    border-color: $description-text
    border-style: solid
    border-radius: .5rem
    width: 80%
    &:focus:not(:focus-visible)
      outline: none
    &:focus
      border-color: $hover
  .search-button
    width: 10%
    background-color: inherit
    border: none
    fill: $description-text
    &:hover
      fill: $hover
