.row
  .col-1
  .constructor_text.col-5.align-self-center.d-flex.flex-column
    .row.constructor_text__inner
      .col-12
        h2.white_h2 Что даёт конструктор бизнес-решений?
      .col-5
        p.white_p 88%
      .col-7
        p.white_p Сэкономить время и деньги
      .col-12.line.line_save-money
      .col-5
        p.white_p 92%
      .col-7
        p.white_p Повышенный уровень удовлетворенности персонала
      .col-12.line.line_satisfaction
      .col-5
        p.white_p 74%
      .col-7
        p.white_p Оптимизированные рабочие процессы
      .col-12.line.line_optimization