.constructor
  color: black
  .constructor_text
    h2
      color: $white-text
      font-weight: bold
    .line
      min-height: 60px
      width: 100%
      margin-bottom: 3rem
      &.line_save-money
        background-color: $primary
        width: 88%
      &.line_satisfaction
        background-color: $light-primary
        width: 92%
      &.line_optimization
        width: 74%
        background-color: $hover
    .constructor_text__inner
      .col-5
        align-self: flex-end
      // row-gap: 1rem