.row
  .col-1.d-none.d-md-block
  .constructor_text.col.col-md-7.align-self-center.d-flex.flex-column
    .row.inner
      .col-12.mb-4
        h3.white_head Что даёт конструктор бизнес-решений?
      .col-3.col-md-4.p-percent
        p.white_p 88%
      .col-9.col-md-8
        p.white_p Сэкономить время и деньги
      .col-12.col-md-6.line.line_save-money
      .col-3.col-md-4.p-percent
        p.white_p 92%
      .col-9.col-md-8
        p.white_p Повышенный уровень удовлетворенности персонала
      .col-12.col-md-6.line.line_satisfaction
      .col-3.col-md-4.p-percent
        p.white_p 74%
      .col-9.col-md-8
        p.white_p Оптимизированные рабочие процессы
      .col-12.col-md-6.line.line_optimization