block content

.card
  header.card_header.row
    img(src=headerLogo, alt="").col-6
    .col-6
      h3 Card
      p Card description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores perferendis molestiae atque quod numquam neque eum nobis temporibus necessitatibus minima ex vero, optio minus corporis doloremque dolore libero! Rerum, veniam!